body {
    width: 500px;
    padding: 15px;
    font-family: Arial, sans-serif;
}

input {
    width: 100%;
    padding: 10px 3px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 3px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none; /* Empêche le redimensionnement */
}

button {
    width: 50%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    margin: 5px auto;
}

button:hover {
    background-color: #004f8c;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f3f3f3;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

li span {
    flex-grow: 1;
    word-wrap: break-word; /* Force le retour à la ligne si le mot est trop long */
    overflow-wrap: break-word; /* Compatibilité avec d'autres navigateurs */
    max-width: calc(100% - 40px); /* Empêche le texte de chevaucher le bouton */
}

li button {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

li button:hover {
    background-color: darkred;
}

#status {
    font-weight: bold;
}

#auth-toggle {
    float: right;
}